<%if !reservations.empty?%>
  <h3>Total reservations: <%=reservations.count%></h3>
  <div class="card mt-2">
    <div class="card-header">

      <div class="card-footer mb-2">
      </div>
        
      <table class="table table-striped table-dark" id="reservations_results_table">
        <thead>
          <tr>
            <th><%= sort_link(q, :room_name, "Room") %></th>
            <th><%= sort_link(q, :room_building_name, "Building") %></th>
            <th><%= sort_link(q, :room_floor_name, "Floor") %></th>
            <th><%= sort_link(q, :schedule, "Reservation") %></th>
            <th><%= sort_link(q, :created_at, "Made at") %></th>
            <th>Available Actions</th>
          </tr>
        </thead>

        <tbody>
          <% reservations.each do |reservation| %>
            <tr>
              <td><%= reservation.room.name %></td>
              <td><%= reservation.room.building.name %></td>
              <td><%= reservation.room.floor.name %></td>
              <td><%= reservation.get_formatted_reservation_schedule %></td>
              <td><%= reservation.created_at.to_s(:long) %></td>
              <% if can? :destroy, reservation %>
                <td>
                  <%= link_to reservation_path(reservation), class: "btn btn-sm btn-danger", method: :delete, :data => {:confirm => "Are you sure you want to cancel the Reservation for Room #{reservation.room.name}?"} do%>
                    Cancel Reservation
                  <%end%>
                </td>
              <%else%>
                <td></td>
              <%end%>
            </tr>
          <% end %>
        </tbody>
      </table>

      <div class="card-footer">
        <%= will_paginate reservations, class: "apple_pagination" %>
      </div>

      <% if can? :manage, Reservation%>
        <%=link_to reservations_path(format: 'pdf'), class: "btn btn-danger btn-sm mt-3", target: '_blank' do%>
          <i class="fa-solid fa-file-pdf"></i> Generate PDF
        <%end%>
      <%end%>
    </div>
          
  </div>
<%else%>
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Oops!</strong> No reservation was found with the provided information... 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<%end%>


