<div class="text-center mb-5">
  <h2 class="display-5 fw-bold text-body-emphasis">Registered Reservations</h2>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Search different reservations made by other users</p>
  </div>
</div>

<div class="card card-header mb-5">

  <%= search_form_for q, url: search_reservations_path, remote: true do |f| %>

    <div class="row">
      <div class="form-group col-md-4">
        <%= f.label :Room %>
        <%= f.search_field :room_name_cont, class: 'form-control' %>
      </div>
      <div class="form-group col-md-4">
        <%= f.label :building %>
        <%= f.search_field :room_building_name_cont, class: 'form-control' %>
      </div>
      <div class="form-group col-md-4">
        <%= f.label :floor %>
        <%= f.search_field :room_floor_name_cont, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group mt-3">
      <%= button_tag(type: 'submit', class: 'btn btn-success') do %>
        <i class="fa-solid fa-magnifying-glass"></i> Search
      <% end %>

      <%= link_to reservations_path, class: 'btn btn-secondary' do %>
        <i class="fa-solid fa-trash"></i> Clear
      <% end %>
    </div>

  <% end %>
</div>