<%= form_with(model: floor, class: "bg-dark text-white p-4 new-room-form") do |form| %>
  <% if floor.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(floor.errors.count, "error") %> prohibited this floor from being saved:</h2>

      <ul>
        <% floor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row mb-3">
    <div class="col-md-5">
      <div class="form-group">
        <%= form.label :name, class: "control-label text-white" %>
        <%= form.text_field :name, class: "form-control bg-dark text-white", required: true %>
      </div>
    </div>
  </div>

  <div class="mb-3 mt-5">
    <%= button_tag(type: 'submit', class: 'btn btn-success me-2') do %>
      <i class="fa-solid fa-check"></i> Create Floor
    <% end %>
    <%= link_to floors_path, class: 'btn btn-secondary' do %>
      <i class="fa-solid fa-arrow-left-long"></i> Back
    <%end%>
  </div>
<% end %>
