<div class="card mt-4 shadow-sm bg-dark text-white">
  <div class="card-header bg-secondary text-white">
    <h2 class="mb-0">Room Details</h2>
  </div>
  <div class="card-body">
    <%if @reservations_made.count > 0%>
      <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">You have <%=pluralize(@reservations_made.count, 'reservation')%> for this Room!</h4>
        <p>Reservations made by you:</p>
        <hr>
        <% @reservations_made.each do |reservation|%>
          <p class="mb-0">
            Reservation time: 
            <span class="badge text-bg-secondary">
              <%=reservation.reservation_time.strftime("%Y-%m-%d")%>
            </span>
            <span class="badge text-bg-secondary">
              <%=reservation.reservation_time.strftime("%H:%M")%>
            </span>
          </p>
        <%end%>
      </div>
    <%end%>
    <p class="card-text"><strong>Name:</strong> <%= @room.name %></p>
    <p class="card-text"><strong>Building:</strong> <%= @room.building.name %></p>
    <p class="card-text"><strong>Floor:</strong> <%= @room.floor.name %></p>
    <p class="card-text"><strong>Capacity:</strong> <%= @room.capacity %></p>
    <div>
      <p class="card-text"><strong>Reserved schedules:</strong></p>
      <span class="">
        <%= @room.get_formatted_schedule %>
      </span>
    </div>
  </div>
  <div class="card-footer d-flex justify-content-between">
    <%if can? :edit, Room %> 
      <div>
        <%= link_to edit_room_path(@room), class: 'btn btn-primary btn-sm me-2' do%>
          <i class="fa-solid fa-pen-to-square"></i> Edit
        <%end%>

        <%= link_to room_path(@room), method: :delete, class: "btn btn-sm btn-danger", :data => {:confirm => "Are you sure you want to delete the Room #{@room.name}?"} do%>
          <i class="fa-regular fa-trash-can me-1"></i> Delete
        <%end%>
      </div>
    <%end%>
    <div>
      <%= link_to rooms_path, class: 'btn btn-secondary' do%>
        <i class="fa-solid fa-arrow-left"></i> Back
      <%end%>
    </div>
  </div>
</div>

<% if user_signed_in?%>
  <div id="reservation-form" class="card mt-5 shadow-sm bg-dark text-white">
    <div class="card-header bg-secondary text-white">
      <h3 class="mb-0">Add Reservation</h3>
    </div>
    <div class="card-body">
    
      <p class="mb-2 fs-5"><strong>Your Name:</strong> <%=current_user.name%></p>

      <%= form_with model: @reservation, url: reservations_path(room_id: @room.id) do |f| %>
        

        <div class="row form-group my-4">
          <div class="col-sm-5">
            <%= f.label :start_date, "Choose a date and time to make your reservation", class: 'form-label text-white fs-5 me-2' %>
            <%= f.datetime_local_field :chosen_time, class: "form-control" %>
          </div>

        </div>

        <div class="alert alert-warning" role="alert">
          <strong>Attention!</strong> Each reservation lasts only 2 hours!
        </div>

        <div class="form-group mt-3">
          <%= f.submit 'Reserve', class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="alert alert-warning mt-4" role="alert">
      Click <%= link_to "here", new_user_session_path %> to Sign in and reserve this Room!
    </div>
  <% end %>
</div>
